
body {
    margin: 0;
    padding: 0;
    background-color:black;
}
.container {
    margin: 20px auto;
    background-color:white;
}
.accordion {
  position: relative;
  margin: 60px auto;
  width: 80%;
  li{
    list-style: none;
    h2 , p{
      display:none;
    }
  }
}

